In [9]:
def test1(func) : 
    def test2():
        print("i am inside test2 " ) 
        func()
        print("functino executed ")
    return test2

In [10]:
@test1
def test3():
    return 5+6

- here we are not getting the value for test3 return

In [11]:
test3()

i am inside test2
functino executed

In [6]:
(test1(test3()))

<function test1.<locals>.test2 at 0x0000021F689679A0>

- lets try to print the retrun value of test3

In [18]:
def test1(func) : 
    def test2():
        print("i am inside test2 " ) 
        func()
        print(func())# after including this line in our code we are getting 11 in our out put
        print("functino executed ")
    return test2

In [19]:
@test1
def test3():
    return 5+6

In [20]:
test3()

i am inside test2
11
functino executed

In [21]:
@test1
def test4():
    return 5+6

In [23]:
test4()# testing above cas e again

i am inside test2
11
functino executed

In [25]:
a=test4()

i am inside test2
11
functino executed

<center>*Oberve this clearly*</center>

In [26]:
print(a)

None

In [29]:
test4()+12 # Here we are expecting test4 will retun us 11 but no.
# exoecting out put as 23 but getting an error

i am inside test2
11
functino executed

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [30]:
def test5():
    return 5+4

In [31]:
test5()

9

In [32]:
type(test5())

int

In [ ]:
'''test4()+12 # Here we are expecting test4 will retun us 11 but no.
# exoecting out put as 23 but getting an error'''

In [68]:
def test5(func) : 
    def test6():
        print("i am inside test2 " ) 
        func()
        print(func())
        print("functino executed ")
        print(func())
        return func()
    return test6

In [69]:
def test7():
    return 5+6

In [70]:
test7()

11

In [71]:
type(test7())

int

In [72]:
@test5
def test7():
    return 5+6

In [73]:
test7()

i am inside test2
11
functino executed
11

11

In [74]:
type(test7())

i am inside test2
11
functino executed
11

int

In [75]:
test7()+100

i am inside test2
11
functino executed
11

111

# **Lambda function**

In [76]:
def test10(a,b):
    return a+b

In [77]:
test10(10,10)

20

In [80]:
test10('Praasanth', ' Kumar')

'Praasanth Kumar'

In [81]:
lambda a , b : a + b

In [83]:
test10 # check the simmilarity betewwn above line and this

In [84]:
c=lambda a , b : a + b

In [86]:
c('Prasanth',' Kumar')

'Prasanth Kumar'

In [87]:
type(c)

function

- **Using args in lambda**

In [92]:
d=lambda * args : args

In [93]:
d

In [94]:
d(1,2,3)

(1, 2, 3)

# Map function

In [95]:
l = [1,2,3,4,5,6,7]
l1  = [] 
for i in l :
    l1.append(i+10)

In [96]:
l1

[11, 12, 13, 14, 15, 16, 17]

In [100]:
def test14(a):
    return a+10

In [112]:
list(test14(l))

TypeError: can only concatenate list (not "int") to list

In [110]:
map(test14,l)

In [111]:
list(map(test14,l))

[11, 12, 13, 14, 15, 16, 17]

In [103]:
def test14_1(a,b):
    return a+b+20

In [106]:
test14_1(1,2)

23

In [114]:
list(map(test14_1,l,[1,2]))

[22, 24]

In [116]:
l2 = ["Prasanth" , "kumar" , "Dasari"]

In [117]:
list(map(lambda a : a.upper(),l))

['SUDH', 'KUMAR', 'INEURON']